.accordion {
    &-header {
        background: #f2f6ff;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        
        .accordion-arrow {
            @media (min-width: 768px) {
                display: none;
            }

            @media (max-width: 768px) {
                right: 2%;
            }
        }
    }

    &-content {
        @media (max-width: 768px) {
            display: none;
        }
    }

    &-active .accordion-content {
        display: block;
    }

    &-active .accordion-header {
        .accordion-arrow {
            transform: rotate(90deg);
        }
    }
}
